<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>后台首页</title>
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/admin.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/mmGrid.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/mmPaginator.css">
  <link rel="stylesheet" type="text/css" href="./assets/themes/default/default.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Veronica</a>
    </div>
  </div>
</nav>
<section>
  <div class="container">
    <!-- 左侧菜单 -->
    <div class="col-xs-3 col-md-3" id="menu">
      <div class="sidebar-menu span2">
        <!-- 用户菜单 -->
        <a href="#userMeun" class="nav-header menu-first collapsed" data-toggle="collapse"><i
          class="icon-user-md icon-large"></i> 用户管理</a>
        <ul id="userMeun" class="nav nav-list collapse menu-second">
          <li><a class="menu-item" href="javascript:void(0);" data-url="user/add"><i class="icon-user"></i> 增加用户</a>
          </li>
          <li><a class="menu-item" href="javascript:void(0);" data-url="user/edit"><i class="icon-edit"></i> 修改用户</a>
          </li>
          <li><a class="menu-item" href="javascript:void(0);" data-url="user/delete"><i class="icon-trash"></i> 删除用户</a>
          </li>
          <li><a id="itemUserList" class="menu-item" href="javascript:void(0);" data-url="user/list"><i class="icon-list"></i> 用户列表</a>
          </li>
        </ul>

        <!-- 文章菜单 -->
        <a href="#articleMenu" class="nav-header menu-first collapsed" data-toggle="collapse"><i
          class="glyphicon glyphicon-book"></i> 文章管理</a>
        <ul id="articleMenu" class="nav nav-list collapse menu-second">
          <li><a id="itemArticleAdd" class="menu-item" href="javascript:void(0);" data-url="article/add"><i class="icon-pencil"></i>
            添加文章</a>
          </li>
          <li><a id="itemArticleList" class="menu-item" href="javascript:void(0);" data-url="article/list"><i class="icon-list-alt"></i>
            文章列表</a></li>
        </ul>

        <!-- 位置菜单 -->
        <a href="#locationMenu" class="nav-header menu-first collapsed" data-toggle="collapse"><i
          class="glyphicon glyphicon-menu-hamburger"></i> 位置管理</a>
        <ul id="locationMenu" class="nav nav-list collapse menu-second">
          <li><a class="menu-item" href="javascript:void(0);" data-url="location/add"><i class="icon-pencil"></i>
            添加位置</a>
          </li>
          <li><a class="menu-item" href="javascript:void(0);" data-url="location/listvue.js"><i
            class="icon-list-alt"></i>
            位置列表</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9 col-md-9">
      <!-- 路径导航 -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li id="title" class="active">{{title}}</li>
      </ol>
      <div class="panel panel-default">
        <div id="op-area" class="panel-body" style="min-height: 600px;">
        </div>
      </div>
    </div>
  </div>
</section>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/kindeditor-all.js"></script>
<script src="assets/zh_CN.js"></script>
<script src="assets/jquery.ztree.all-3.5.js"></script>
<script src="assets/mmGrid.js"></script>
<script src="assets/mmPaginator.js"></script>
<script src="assets/vue.js"></script>
<script src="assets/src/route.js?v=3"></script>
<script src="assets/src/data.js"></script>
<script>
  (function () {
    KindEditor.ready(function(K) {
      window.K = K
    })

    // 导航
    var navVm = new Vue({
      el: '#title',
      data: {
        title : '首页'
      }
    })
  }())
</script>
</body>
</html>